<!DOCTYPE html>
<html>
<head>
  <title>Contact NSS</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
  <header>
    <h1>Contact Us</h1>
  </header>
 <nav>
    <a href="/">Home</a>
    <a href="/about">About NSS</a>
    <a href="/units">Units</a>
    <a href="/register">Join Us</a>
    <a href="/contact">Contact</a>
 </nav>

  <section>
    <h2>General NSS Coordinator</h2>
    <p><strong>Name:</strong> Dr. Kamal Lochan Mohanta</p>
    <p><strong>Email:</strong> nsscollege@example.com</p>

    <h2>Unit Coordinators</h2>
    <p><strong>Unit 1:</strong> Dr. Padmaja Patel | padmajapatel@soa.ac.in</p>
    <p><strong>Unit 2:</strong> Prof. Siba Prasad Tripathi | sibaprasadatripathy@soa.ac.in</p>
    <p><strong>Unit 3:</strong> Dr. Kanaklata Ojha | cdas@example.com</p>
  </section>
  <footer>
    <p>&copy; 2026 NSS Unit - [Your College Name]</p>
  </footer>
</body>
</html>
s